[flake8]
select = B,B9,BLK,E,F,RST,S,W
    # B Bugbear https://pypi.org/project/flake8-bugbear/
    # B9 Bugbear's more opinionated warnings
    # BLK Black https://github.com/psf/black
    # DAR Darglint  docstrings https://github.com/terrencepreilly/darglint
    # E Pep8 errors https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes
    # F Pyflakes errors https://flake8.pycqa.org/en/latest/user/error-codes.html
    # RST docstrings https://pypi.org/project/flake8-rst/
    # S Detect common security issues Bandit/flake8-bandit
    # W PEP8 Warnings
ignore = E203,E501,W503,RST201,RST203,RST301
    # E203 White space before ':'
    # E501 Line too long - replaced by Bugbear B950
    # W503 Line break before a binary operator
    # RST201 Block quote ends without a blank line; unexpected unindent
    # RST203 Definition list ends without a blank line; unexpected unindent
    # RST301 Unexpected indentation
max-line-length = 120
docstring-convention = pep257
strictness = full
rst-directives = item
per-file-ignores = tests/*:S101,B950
# S101  Allow the use of assert within the tests directory, since tests require it
# B950  Line too long
exclude =
        __init__.py,
        .git,
        __pycache__,
        .tox,
        .eggs,
        *.egg,
        .venv,
        noxfile.py
